/* Fuente futurista */

.jugadores-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.jugador-card {
  background: rgba(0, 0, 0, 0.7); /* Fondo oscuro transparente */
  color: #fff;
  padding: 15px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.jugador-nombre {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.jugador-info p {
  margin: 5px 0;
  font-size: 16px;
}
