<div class="start-container">
  <h1 class="glow-text">🚀 Galaxy Memory 🌌</h1>
  <p class="subtitle">Selecciona el modo de juego:</p>
  <div class="button-group">
    <button class="neon-button" (click)="selectMode(1)">🎮 Un Jugador</button>
    <button class="neon-button" (click)="selectMode(2)">
      🧑‍🤝‍🧑 Dos Jugadores
    </button>
    <button class="neon-button" (click)="borrarJugadores()">
      🗑️ Borrar Datos
    </button>
    <button class="neon-button" (click)="redireccionarHistorial()">
      📊 Ver Historial
    </button>
  </div>
</div>
