<app-navbar></app-navbar>
<div class="container">
  <h2 class="titulo">🧠 Juego de Memoria Espacial 🚀</h2>
  <div class="tablero">
    <div class="fila" *ngFor="let fila of filas">
      <div
        class="celda"
        *ngFor="let carta of fila"
        (click)="destaparCarta(carta.id)"
      >
        <img
          [src]="carta.tapada ? reverso : carta.imagen"
          [alt]="carta.nombre"
        />
      </div>
    </div>
  </div>
</div>

<!-- Controles a la derecha -->
<div class="controles">
  <button class="neon-button" (click)="iniciarJuego()">
    {{ estadoJuego ? "Reiniciar juego" : "Iniciar Juego" }}
  </button>
  <button class="neon-button" (click)="volver()">Volver</button>

  <div class="dificultad-container">
    <label for="dificultad">Dificultad:</label>
    <select name="dificultad" id="dificultad">
      <option value="facil">Fácil</option>
      <option value="medio">Medio</option>
      <option value="dificil">Difícil</option>
    </select>
  </div>
</div>

<div *ngIf="mostrarToast" class="toast">
  {{ mensajeToast }}
</div>
