<div class="register-container">
  <h1 class="glow-text">Registro de Jugadores</h1>

  <div class="player-forms">
    <!-- Formulario Jugador 1 -->
    <div class="player-form">
      <h2 class="player-text">👤 Jugador 1</h2>
      <div class="input-group">
        <input
          type="text"
          [(ngModel)]="jugador1.nombre"
          placeholder="Nombre"
          class="neon-input"
        />
        <input
          type="number"
          [(ngModel)]="jugador1.edad"
          placeholder="Edad"
          class="neon-input"
          min="0"
          max="99"
        />
      </div>
    </div>

    <!-- Formulario Jugador 2 (Solo si cantidadJugadores === 2) -->
    <div class="player-form" *ngIf="cantidadJugadores === 2">
      <h2 class="player-text">👤 Jugador 2</h2>
      <div class="input-group">
        <input
          type="text"
          [(ngModel)]="jugador2.nombre"
          placeholder="Nombre"
          class="neon-input"
        />
        <input
          type="number"
          [(ngModel)]="jugador2.edad"
          placeholder="Edad"
          class="neon-input"
          min="0"
          max="99"
        />
      </div>
    </div>
  </div>

  <div class="input-group">
    <button class="neon-button" (click)="registrar()">🚀 JUGAR</button>
    <button class="neon-button" (click)="volver()">🔙 Volver</button>
  </div>
</div>
